/* DEFAULT settings : Big screen (Desktop) and medium screen */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.column { max-width: 31%; padding: 0 4px;}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* My phone screen OR small screen */
@media (aspect-ratio: 20/9), (max-width: 500px) {
    .column { max-width: 100%;}
}