body {
    background-color: #e4d8c2;
}

table {
    padding-top: 30px;
    border-spacing: 0px;
    margin: auto;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

td {
    width: fit-content;
    text-align: center;
    padding: 0px;
}

.bigButton {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    margin: auto;
}

.container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

p{
    background-color: none;
    width: fit-content;
    margin: auto;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    z-index: 10;
  }

.bigButton:hover .overlay {
    opacity: .5;
}

.bigButton:hover .text {
    opacity: 1;
}

.style0button {
    border: 3px solid white;
}

.style1button {
    border: 3px solid black;
}

.style2button {
    border: 5px double black;
}

.style3button {
    border: 6px groove rgb(201, 95, 8);
}

.style4button {
    border: 3px solid rgb(105, 0, 153);
}

.style5button {
    border: none;
}

h1 {
    /*font-family: 'Segoe UI';*/
    font-family: 'Segoe UI';
    font-size: 120px;
    margin: auto;
}

h2 {
    font-size: 45px;
    margin: auto;
    padding-bottom: 20px;
}

p {
    font-style: italic;
    color: #727272;
}

ul {
    padding: 0;
    display: flex;
}

li {
    padding-left: 5px;
    padding-right: 5px;
}

.arrow {
    border: solid rgb(221, 73, 73);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    top: 50%;
    left: 50%;
    margin-top: 3px;
}

.smallButton {
    width: 30px;
    height: 30px;
    background-color: #d3d3d3;
    border: solid grey;
    border-width: 0 2px 2px 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.smallButton:active {

    background-color: #9c9c9c;
    
}

/* Medium screen */
@media screen and (max-width: 800px) {
    table { padding-top: 30px;}
    h1 { font-size: 80px;}
    h2 { font-size: 35px;}
}




/* Small screen */
@media screen and (max-width: 500px) {
    table { padding-top: 20px;}
    h1 { font-size: 60px;}
    h2 { font-size: 25px;}
}

/* Mobile */
@media (aspect-ratio: 20/9) {
    table { padding-top: 20px;}
    h1 { font-size: 60px;}
    h2 { font-size: 25px;}
}